In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Saskylakh,RU,2021-01-10 17:44:24,71.9167,114.0833,-17.68,83,99,13.78
1,1,San Patricio,US,2021-01-10 17:46:53,28.0170,-97.5169,53.60,100,90,24.16
2,2,Honolulu,US,2021-01-10 17:50:00,21.3069,-157.8583,73.40,78,20,4.79
3,3,Hilo,US,2021-01-10 17:46:43,19.7297,-155.0900,66.20,68,40,5.75
4,4,Avera,US,2021-01-10 17:46:44,33.1940,-82.5271,50.00,50,1,6.91

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [9]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
11,11,Arica,CL,2021-01-10 17:46:58,-18.4750,-70.3042,75.20,60,0,12.66
14,14,Puerto Ayora,EC,2021-01-10 17:43:46,-0.7393,-90.3518,82.40,57,0,16.11
21,21,Avarua,CK,2021-01-10 17:46:44,-21.2078,-159.7750,78.80,83,24,8.05
22,22,Rikitea,PF,2021-01-10 17:46:39,-23.1203,-134.9692,77.74,78,99,15.32
23,23,Vao,NC,2021-01-10 17:47:17,-22.6667,167.4833,78.44,85,100,7.07
31,31,Alice Springs,AU,2021-01-10 17:53:29,-23.7000,133.8833,77.00,53,40,6.35
36,36,Guanica,PR,2021-01-10 17:51:49,17.9716,-66.9080,84.99,70,64,8.99
37,37,Poya,NC,2021-01-10 17:53:29,-21.3500,165.1500,77.25,86,100,6.42
44,44,Hithadhoo,MV,2021-01-10 17:46:41,-0.6000,73.0833,81.36,75,100,12.62
45,45,Beira,MZ,2021-01-10 17:53:30,-19.8436,34.8389,84.20,84,20,10.36

In [16]:
preferred_cities_df.count()

City_ID       160
City          160
Country       159
Date          160
Lat           160
Lng           160
Max Temp      160
Humidity      160
Cloudiness    160
Wind Speed    160
dtype: int64

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
11          Arica      CL     75.20 -18.4750  -70.3042
14   Puerto Ayora      EC     82.40  -0.7393  -90.3518
21         Avarua      CK     78.80 -21.2078 -159.7750
22        Rikitea      PF     77.74 -23.1203 -134.9692
23            Vao      NC     78.44 -22.6667  167.4833
31  Alice Springs      AU     77.00 -23.7000  133.8833
36        Guanica      PR     84.99  17.9716  -66.9080
37           Poya      NC     77.25 -21.3500  165.1500
44      Hithadhoo      MV     81.36  -0.6000   73.0833
45          Beira      MZ     84.20 -19.8436   34.8389

In [27]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [29]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]['name']
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [30]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
11,Arica,CL,75.20,-18.4750,-70.3042,Hostal Jardin Del Sol
14,Puerto Ayora,EC,82.40,-0.7393,-90.3518,Castillo Galapagos
21,Avarua,CK,78.80,-21.2078,-159.7750,Paradise Inn
22,Rikitea,PF,77.74,-23.1203,-134.9692,Pension Maro'i
23,Vao,NC,78.44,-22.6667,167.4833,Hotel Kou-Bugny
31,Alice Springs,AU,77.00,-23.7000,133.8833,Desert Palms Alice Springs
36,Guanica,PR,84.99,17.9716,-66.9080,Copamarina Beach Resort & Spa
37,Poya,NC,77.25,-21.3500,165.1500,
44,Hithadhoo,MV,81.36,-0.6000,73.0833,Scoop Guest House
45,Beira,MZ,84.20,-19.8436,34.8389,Beira Terrace Hotel

In [32]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [36]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))